<footer>
    <a href="#" title="mergi sus" id="link-top"><div id="triunghi">&#5123</div></a>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1424.6281869936697!2d26.101643742286164!3d44.42790303824458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff3e500bfca9%3A0x31445543ad076624!2sLuca!5e0!3m2!1sen!2sro!4v1710139238474!5m2!1sen!2sro" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <address>Strada muzicienilor, nr 14, Bucuresti, sector 3, Romania</address>
    <a href="mailto:domomusic@gmail.com">Mail-ul nostru</a>
    <a href="tel:+40975548">Telefon</a>
    <a href="https://wa.me/0987654356">Da-ne un mesaj!</a>
    <p><small>Copyright &copy; <time datetime="2012-10-18"></time></small></p>
    <p id="absolut"></p>
  </footer>