<header>
    <h1>Domomusic</h1>
   <p id="watermark"></p>
   <!-- pentru printare-->
    <nav>
        <label id="hamburger" for="ch-menu">
            <img src="Resurse/imagini/Hamburger_icon_alb.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="meniu">
            <li><div id="acasa">Acasa</div><div id="acasa-mediu"><i class="fa fa-house"></i></div>
                <ul>
                    <li><a href="#welcome">Bine ati venit</a></li>
                    <li><a href="#promotii">Promotii</a></li>
                    <li><a href="#anunturi">Anunturi</a></li>
                    <li><a href="#calendar">Calendar</a></li>
                    <li><a href="#orar">Orar</a></li>
                    <li><a href="#lista_utilizatori">Lista utiliatori</a></li>
                    <li><a href="date_utilizatori">Date utilizatori</a></li>
                    <li><a href="date_site">Date site</a></li>
                </ul>
            
            
            </li>
            <li><div>Produse</div>
                <ul>
                    <li><a href="http://www.google.com">Toate</a></li>
                    <li><a href="#">Chitare/Bass-uri</a></li>
                    <li><a href="#">Percutie</a></li>
                    <li><a href="#">Claviaturi</a></li>
                    <li><a href="#">Studio</a></li>
                    <li><a href="#">Soft-uri</a></li>


                </ul>
            
            </li>
            <li><div>Inregistrare</div><a href="#"></a></li>
            <li><div>Despre</div>
                <ul>                        
                    <li><a href="despre.html#prezentare">Prezentare</a></li>
                    <li><a href="despre.html#istoric">Istoric</a></li>
                    <li><a href="despre.html#galerie">Galerie</a></li>
                </ul>
            </li>
            
            <li><div>Contact</div><a href="#"></a></li>
        </ul>
    </nav>
    <!--Meniu-->
    <section>
      
      <h1>
        Music for all
      </h1>
      <section>
        <h3>Bringing music closer to you</h3>

      </section>

      
      

      

    </section>
    <!--Sectiune in sectiune-->

 

  </header>